body{
    background-color: #ebebeb;

    #counter{
        display: flex;
        justify-content: center;
        width: 100%;
        
        h1{
            font-family:Arial, Helvetica, sans-serif;
            font-size: 60px;
            margin: 10px;
        }
    }

    #num{
        display: flex;
        justify-content: center;
        width: 100%;
        #p1{
            margin: 0;
            font-size: 300px;
            font-family: Arial, Helvetica, sans-serif;
            color: #1c0f64;
        }
    }

    #btn{
        display: flex;
        justify-content: center;
        width: 100%;
        button{
            padding: 20px 60px 20px 60px;
            font-size: 30px;
            border-radius: 10px;
            cursor: pointer;
        }
        #plus{
            margin-right: 5px;
            background-color: #a2ff2871;
            border: 1px solid #5f9618;
        }

        #plus:hover{
            background-color: #629c1771;
        }

        #minus{
            background-color: #ff362871;
            border: 1px solid #961818;
        }

        #minus:hover{
            background-color: #b6281ea4;
        }
    }

}